Package: canto
Version: VERSION
Section: net
Priority: optional
Architecture: i386
Depends: python (>= 2.5.0), libncursesw5 (>= 5.5), libc6, python-feedparser, python-chardet
Maintainer: Jack Miller <jack@codezen.org>
Homepage: http://codezen.org/canto
Description: A flexible ncurses RSS/Atom newsreader
 Eschewing the traditional three-pane display, in favor of
 a headline list approach.
